body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    perspective: 1000px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure container takes full viewport height */
}

.slide {
    display: none;
    position: relative;
    width: 80%;
    height: auto;
}

.book-page {
    display: block;
    width: 100%;
    height: auto;
    transform-origin: left;
    transition: transform 1s;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 2;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
